body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.column.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#code-container p {
  font-size: xx-large;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#code-container {
  opacity: 0;
  display: flex;
  background-color: #272822;
  color: #f8f8f2;
  font-family: monospace;
  padding: 15px;
  max-height: 27vh;
  min-height: 25vh;
  border-radius: 5px;
  overflow: auto;
}

#code-container h3 {
  font-size: x-large;
}

.code-output {
  white-space: pre;
}

#code-container pre {
  font-size: large;
}

#bodies {
  height: 70%;
}

.panelHidden {
  display: none;
}

#js-body {
  position: fixed;
  top: 36vh;
  left: 0;
  width: 50%;
  height: 59vh;
  background-color: white;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  border: 5px solid #272822;
  border-right: 2.5px solid #272822;
}

#jq-body {
  display: none;
  position: fixed;
  right: 0;
  top: 36vh;
  width: 50%;
  height: 59vh;
  background-color: white;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  border: 5px solid #272822;
  border-left: 2.5px solid #272822;
}

#js-body,
#jq-body {
  box-sizing: border-box;
}

#start-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 80px;
  width: 200px;
}

#run-js-button {
  display: none;
  opacity: 0;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 80px;
  width: 200px;
}

#run-jq-button {
  display: none;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 80px;
  width: 200px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  height: 100%;
}

#end-container h2 {
  font-size: xxx-large;
  font-weight: bold;
}

#end-container h3 {
  font-size: xx-large;
}


